:root {
    --Soft-Cyan: hsl(174, 77%, 80%); /*(Full Slider Bar)*/
    --Strong-Cyan: hsl(174, 86%, 45%); /*(Slider Backround)*/
    --Gray-Red: hsl(14, 92%, 95%); /*(Discount Background)*/
    --Light-Red: hsl(15, 100%, 70%); /*(Discount Text)*/
    --Blue: hsl(226, 100%, 87%); /*CTA Text)*/

    --White: hsl(0, 0%, 100%); /*(Pricing Component Background)*/
    --Very-Blue: hsl(230, 100%, 99%); /*(Main Background)*/
    --Gray-Blue: hsl(224, 65%, 95%); /*(Empty bar slide)*/
    --Light-Gray-Blue: hsl(223, 50%, 87%); /*(Toggle Background)*/
    --Grayish-Blue: hsl(225, 20%, 60%); /*(Text)*/
    --Dark-Blue: hsl(227, 35%, 25%); /*(Text & CTA Background*/

    font-family: 'Manrope', sans-serif;
}
body {
    background-color: var(--Gray-Blue);
}
.cube {
    width: 700px;
    padding: 40px;
    margin: 20px auto;
    background-color: var(--Gray-Blue);
    position: inherit;
    border-radius: 20px;
    
}
.slider {
    appearance: none;
    width: 600px;
    height: 10px;
    margin: 0;
    background: linear-gradient(to right, var(--Strong-Cyan), var(--Gray-Blue)) center/100%;
    border-radius: 20px;
    margin: 0 auto;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    padding: 20px;
    background-color: var(--Soft-Cyan);
    width: 20px; /* Cambiar el tamaño del thumb del slider */
    height: 20px; /* Cambiar el tamaño del thumb del slider */
    border-radius: 50%;
    cursor: pointer;
} 
.slider-value{
    font-size: 34px;
    font-weight: 800;
    display: inline;
}
.btn {
    width: 60px;
    height: 40px;
}
.logo {
    text-align: center;
    background-image: url(./images/pattern-circles.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 0 20px 0;
    background-color: var(--Gray-Blue);
    margin-bottom: 20px;
}
.logo h1 {
    margin: 0 0 6px 0;
    color: var(--Dark-Blue);
    font-size: 30px;
}
.logo p{
    margin: 0 0 30px 0;
    font-size: 16px;
    color: var(--Grayish-Blue);
}
.hero, .footer {
    background-color: var(--White);
    padding: 40px;
}
.hero {
    margin-top: 30px;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-1 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.hero-1 h1 {
    color: var(--Grayish-Blue);
    font-size: 20px;
}
.p-1 {
    font-size: 16px;
    margin-right: 20px;
}
.option {
    display: flex;
    margin: 60px 0 0 200px;
    color: var(--Grayish-Blue);
    gap: 24px;
}
.option p:last-child{
    color: var(--Light-Red);
    background-color: var(--Gray-Red);
    padding: 1px 10px 1px 10px;
    border-radius: 20px;
}





.footer {
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
}

li {
    background-image: url(./images/icon-check.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 40px;
    line-height: 1.5;
    color: var(--Grayish-Blue);
}

hr {
    margin: 0;
    border: 1px solid var(--Grayish-Blue);
}
.start-buton {
    margin-right: 40px;
    padding: 12px 48px 12px 48px;
    background-color: var(--Dark-Blue);
    color: var(--Light-Gray-Blue);
    border-radius: 20px;
}

